blinker==1.9.0
click==8.3.1
dotenv==0.9.9
Flask==3.1.2
Flask-CORS==5.0.0
Flask-JWT-Extended==4.7.1
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
marshmallow==4.1.1
mysql-connector-python==9.5.0
packaging==25.0
Pillow==10.1.0
PyJWT==2.10.1
PyMySQL==1.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
qrcode[pil]==7.4.2
reportlab==4.0.7
six==1.17.0
uuid6==2025.0.1
Werkzeug==3.1.4
